<!DOCTYPE html>
<html>

<head>
    <title>Cover Page</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" href="https://anijs.github.io/lib/anicollection/anicollection.css">
</head>

<body>
    <div class='header'>
        <a href="https://www.nba.com/">
            <img src="static/image/nba_logo.png" alt="NBA Logo" class='logo'></a>
        <h1>NBA Teams</h1>
    </div>
    <h2></h2>
    <h2></h2>
    <div class="row">
        <div class="column">
            <a href="/lakers">
                <img src="static/image/lakers.png" class='lakersimage'> </a>
            <h2>Los Angeles Lakers</h2>
        </div>
        <div class="column">
            <a href="/celtics">
                <img src="static/image/celtics.png" class='celticsimage'></a>
            <h2>Boston Celtics</h2>
        </div>
        <div class="column">
            <a href="/heat">
                <img src="static/image/heat.png" class='heatimage'></a>
            <h2>Miami Heat</h2>
        </div>
        <div class="column">
            <a href="/knicks">
                <img src="static/image/knicks.png" class='knicksimage'></a>
            <h2>New York Knicks</h2>
        </div>
        <div class="column">
            <a href="/pistons">
                <img src="static/image/pistons.png" class='pistonsimage'></a>
            <h2>Detroit Pistons</h2>
        </div>
    </div>
    <div id="switch-container">
        <div id="switch">
            <div id="circle"></div>
        </div>
        </br>
        <code
            data-anijs="if:click, on: #switch, do: $toggleClass active, to: #switch; on: #switch, do: toggleDarkMode;"></code>
        <script src="https://anijs.github.io/lib/anijs/anijs-min.js"></script>
        <script src="https://anijs.github.io/lib/anijs/helpers/dom/anijs-helper-dom-min.js"></script>
        <script src="static/js/toggle.js"></script>
</body>

</html>